// bower:scss
// endbower
//
// bourbon is a lightweight mixin library as an alternative to compass
@import "bourbon";
// Fira Sans
// @import url(http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700,300italic,400italic,500italic,700italic);

// Josefin Sans
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic);


html {
  height: 100%
}
body {
  height: 100%;
  font-size: 16px;
  position: relative;
  font-family: "Josefin Sans", sans-serif;
}

.app-container {
  background-color: #333;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0px;
  overflow: hidden;
}

// injector
@import 'header/header.scss';
@import 'menu/menu.scss';
@import 'scene/scene.scss';
// endinjector
