<!-- material is defined in the scope of the selection-list which imports the selection items -->

<div class="fruit-panel panel panel-default">

    <div class="panel-heading">
        {{fruit.getName()}}
        <button ng-click="removeFruit(fruit)" class="btn btn-danger pull-right" type="">
            <i class="fa fa-times"></i>
        </button>
    </div>

    <div class="panel-body">

        <div class="fruit-infos">
        <em>Origin: {{fruit.getOrigin()}}</em>
        <br>Price(USD) per {{fruit.getUnit()}}:

                <label>{{fruit.getPrice().toFixed(2)}}</label>
                <!-- <
                button class="btn btn-default" type="button" ng-click="startEditing(fruit)">
                    <i class="fa fa-pencil"></i>
                </button>
                 -->

        </div>
    </div>

</div>
