<section class="fruit-search container section-container">
    <header>
        <h3>Shopping Cart Example</h3>
        <p>Start typing to select a fruit you'd like to buy</p>
    </header>

    <div class="search-bar input-group input-group-lg">

        <input type="text" ng-model="selected" placeholder="Choose Fruit" typeahead="fruit.fruitName for fruit in manager.availableFruits() | filter:$viewValue | limitTo:8" typeahead-min-length="0" typeahead-on-select="selectFruit($item); selected='';" class="form-control">

        <span class="input-group-btn">
            <button class="btn btn-default" type="button">
                <i ng-show="fruit.isLoadingMaterials()" class="fa fa-spinner fa-spin"></i>
                <i ng-hide="fruit.isLoadingMaterials()" class="fa fa-search"></i>
            </button>
        </span>

    </div>
</section>
