.fruit-search {
    position: relative;
    .search-bar {
        font-weight: 400;
        color: #111;
        .btn, input {
            font-size: x-large;
        }
        ul.dropdown-menu {
            font-size: 1em;
        }
    }
}