/* Imitate the SAP UI5 Header with gradient and font*/

.title-header {
    @include linear-gradient(top, #a7c7dc 0%, #85b2d3 100%);
    color: white;
    position: relative;
    background-color: gray;
    height: em(80px);
    text-align: center;
    padding-top: 1em;
    span.title {
        font-size: em(25px);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        line-height: 23px;
        vertical-align: middle;
        text-shadow: 1px 1px 2px #333333;
        white-space: nowrap;
    }
}