.app-header {
  z-index: 10;
  text-align: center;
  margin: auto;
  color: #fff;
  height: 60px;
  right:0;
  left: 0;
  background-color: #eee;
  position:absolute;
  background-color: rgba(100,100,100, 0.5);
  border-bottom: 2px solid #ddd;
}